#dark_mode>input:checked+label {
  background: #C8E6C9 !important;
}

#dark_mode label {
  background: #CFD8DC !important;
}

#dark_mode label::after {
  background: #42b983 !important;
}

.lxhyx-to-top {
  position: fixed;
  right: 1%;
  bottom: 10%;
  color: #42b983;
  font-size: 16px;
  text-decoration: underline;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lxhyl-search-input{
 width: 80%;
 margin:-30px 10% 10px 10%;
 height: 30px;
}